<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen en la parte superior usando ion-img -->
  <ion-card class="ion-text-center">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <ion-card-content>
      <h1>Bienvenidos</h1>
    </ion-card-content>
  </ion-card>

  <!-- Formulario de Login -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item class="input-item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- Checkbox de "Recordarme" con formControlName en lugar de [(ngModel)] -->
    <ion-item lines="none">
      <ion-label>Recordarme</ion-label>
      <ion-checkbox slot="start" formControlName="recuerdame"></ion-checkbox>
    </ion-item>

    <!-- Botón de Login -->
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>
</ion-content>
